In [1]:
#Step 1.분석할 데이터가 저장된 파일을 불러와서 변수에 할당합니다.
import pandas as pd
house = pd.read_csv('맨하탄주택가격.csv',encoding='cp949')
house

,rental_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,borough
0,1545,2550,0.0,1,480,9,2.0,17,1,1,0,0,1,1,0,1,Upper East Side,Manhattan
1,2472,11500,2.0,2,2000,4,1.0,96,0,0,0,0,0,0,0,0,Greenwich Village,Manhattan
2,2919,4500,1.0,1,916,2,51.0,29,0,1,0,1,1,1,0,0,Midtown,Manhattan
3,2790,4795,1.0,1,975,3,8.0,31,0,0,0,1,1,1,0,1,Greenwich Village,Manhattan
4,3946,17500,2.0,2,4800,3,4.0,136,0,0,0,1,1,1,0,1,Soho,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3534,7582,4210,1.0,1,532,3,8.0,16,1,1,1,1,1,1,0,1,Chelsea,Manhattan
3535,5686,6675,2.0,2,988,5,10.0,9,1,1,1,1,1,1,0,1,Tribeca,Manhattan
3536,9679,1699,0.0,1,250,2,5.0,96,0,0,0,0,0,0,0,0,Little Italy,Manhattan
3537,5188,3475,1.0,1,651,6,5.0,14,1,0,1,1,1,1,0,1,Midtown West,Manhattan
3538,4718,4500,1.0,1,816,4,11.0,9,0,1,1,1,1,0,1,1,Tribeca,Manhattan

In [20]:
#Step 2. 훈련용데이터셋과 테스트용 데이터셋으로 분리
# 다중회귀분석의 경우, feature(column)를 여러 개 사용하는 방법입니다.
from sklearn.model_selection import train_test_split

# data 변수에 사용할 feature들을 적어주세요.
# 전체 feature 종류 : [['bedrooms', 'bathrooms', 'size_sqft', 'min_to_subway', 'floor', 'building_age_yrs', 'no_fee', 'has_roofdeck', 'has_washer_dryer', 'has_doorman', 'has_elevator', 'has_dishwasher', 'has_patio', 'has_gym']]
data = house[['bedrooms', 'bathrooms', 'size_sqft', 'min_to_subway', 'floor', \
              'building_age_yrs', 'no_fee', 'has_roofdeck', 'has_washer_dryer', \
              'has_doorman', 'has_elevator', 'has_dishwasher', 'has_patio', 'has_gym']]

# 훈련에 사용될 target 정의
target= house[['rent']]

# train, test 데이터 분리
훈련용_data , 테스트용_data , 훈련용_target , 테스트용_target = train_test_split(
    data , target , test_size=0.2 , random_state=40)

In [36]:
#Step 3. 분석하고 예측합니다
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(훈련용_data, 훈련용_target)

import numpy as np
# 내가 찾는 집의 조건 변수입니다. predict함수의 인수로 넣어주세요.
condition = [[1, 1, 620, 16, 1, 98, 1, 0, 1, 0, 0, 1, 1, 0]]

# condition 변수를 통한 예측
렌트비 = lr.predict(condition)
print(렌트비)

[[2380.08047238]]

c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [17]:
# 평가 점수 확인
lr.score(테스트용_data, 테스트용_target)

0.7821989604263511